<!DOCTYPE html>
<html lang={{ .Site.LanguageCode }}>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ block "title" . }}{{ .Title }}{{ end }}</title>

        <link rel="preload" href="{{ "/css/et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff" | absURL }}" as="font">
        <link rel="preload" href="{{ "/css/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff" | absURL }}" as="font">
        <link rel="preload" href="{{ "/css/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff" | absURL }}" as="font">

        <link rel="stylesheet" href="{{ "css/tufte.css" | absURL }}">
        <link rel="stylesheet" href="{{ "css/override.css" | absURL }}">

        {{ range .Resources.Match "*.css" }}
        <style type="text/css">
         {{ .Content | safeCSS }}
        </style>
        {{ end }}
    </head>
    <body>
        <article>
            {{ block "main" . }}{{ end }}
        </article>
        {{ range .Resources.Match "*.js" }}
        <script type="text/javascript">
        {{ .Content | safeJS }}
        </script>
        {{ end }}
    </body>
</html>
